<!-- <header class="mainheader p-4">
    <app-navbar></app-navbar>
    <div class="row pt-5 text-white">
        <div class="col-lg-6 p-md-4 col-md-12">
            <h2>Cloud Engineer</h2>
            <h1>Tamil selvan M</h1>
            <p>I am committed to offering photography services of the highest quality in Vienna, combining energy and enthusiasm with years of experience.</p>
            <button class="btn btn-outline-light mt-4" routerLink="/portfolio">See My Portfolio</button>
        </div>
    </div>
</header> -->

<header class="mainheader p-4 bg-primary text-white" style="background-image: url('assets/img/ms-bg4.jpg'); background-size: cover;">
    <app-navbar></app-navbar>
    <div class="row pt-5">
        <div class="col-lg-6 p-md-4 col-md-12">
            <h2>Your Trusted Azure Cloud Partner</h2>
            <h1>G7CR Cloud Solutions</h1>
            <p>We deliver cutting-edge Azure cloud services tailored to your business needs. From scalable infrastructure to secure, high-performance solutions, trust us to accelerate your digital transformation journey.</p>
            <button class="btn btn-outline-light mt-4" routerLink="/portfolio">Explore Our Services</button>
        </div>
    </div>
</header>
